terraform {
  backend "s3" {
    bucket       = "REPLACE_WITH_YOUR_BACKEND_BUCKET_NAME"
    key          = "global-scale-retail-cloud/aws/terraform.tfstate"
    region       = "us-east-1"
    encrypt      = true
    use_lockfile = true
  }
}
